*.pyc
*.exe
*.dll
*.obj
*.o
*.bak
out/
*.sln
*.vcxproj
*.vcproj
*.suo
*.vcxproj.user
*.vcxproj.filters
*.vcproj.*.user
*.vcproj.filters
*.props
*.ncb
*.targets
*.sdf
*.opensdf
*.xml
*.log
*.idb
*.pdb
*.aps
*.target.mk
*.plo
*.class
*.so
*.jar
*.Makefile
*.ipch
*.ilk


Debug/
Release/
*.iml
.idea/*
